* {
    margin: 0;
    outline: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

body {
    background: url('./assets/bg.jpg') no-repeat center center fixed;
    background-size: 100vw 100vh;
}

.max-w {
    max-width: 1800px;
    margin: 50px auto;
    padding: 0 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav h1 {
    margin-top: 25px;
    font-size: 35px;
    margin-right: 20px;
}

.list {
    list-style-type: none;
    padding-bottom: 75px;
    border-bottom: 2px solid #FFFFFF;
}

.list-item, .list-item-special{
    display: inline;
    font-size: 20px;
    font-weight: 700;
}

.list-item-special {
    vertical-align: middle;
}

.list-item {
    margin-right: 50px;
}

.list-item-special span {
    display: inline-block;
}

.upper-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.upper-section h1 {
    font-size: 100px;
    margin-top: 25px;
}

.card {
    background: rgba(255,255,255,0.2);
    width: fit-content;
}

.image {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 5px 40px;
    border-radius: 30px;
}

.card p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.upper-card {
    padding: 25px;
}

.upper-card {
    margin-left: auto;
}

.upper-right-cont .shapes{
    position: absolute;
    right: 100px;
}
.upper-right-cont {
    position: relative;
}
.line-one {
    background-color: #FFFFFF;
    width: 2px;
    height: 75px;
    position: absolute;
    left: 10px;

}

.circle {
    background-color: #FFFFFF;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
}

.upper-right {
    margin-right: 50px;
}

.upper-right .circle {
    top: 75px;
}

.lower-section {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin-top: 50px;
}

.btn {
    font-size: 30px;
    font-weight: 600;
    width: fit-content;
    background: transparent;
    padding: 20px 40px;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
}

.lower-card {
    padding: 30px 50px;
}

.lower-right {
    display: flex;
    flex-direction: row;
}

.lower-right .shapes {
    position: relative;
}

.lower-right .circle {
    top: 65px;
    right: -95px;
}

.line-two {
    background-color: #FFFFFF;
    position: absolute;
    height: 2px;
    width: 75px;
    top: 75px;
}


@media only screen and (max-width: 1280px) {
    .list-item {
        display: none;
    }
    .upper-section, .lower-section {
        grid-template-columns: 1fr;
    }
    .upper-section h1 {
        font-size: 70px;
        text-align: center;
    }
    .upper-right,.lower-right {
        margin: 25px auto;
    }
    .lower-section {
        margin-top: 0;
    }
}


@media only screen and (max-width: 580px) {
    .upper-section h1 {
        font-size: 50px;
    }

    .btn {
        font-size: 14px;
        font-weight: 600;
        width: fit-content;
        background: transparent;
        padding: 10px 20px;
        border: 3px solid #FFFFFF;
        border-radius: 50px;
    }
    .max-w {
        margin: 20px auto 0;
    }
}